APP_NAME=SentinelAI
APP_ENV=development
APP_VERSION=1.0.0

DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sentinelai

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://127.0.0.1:8000/api/v1/github/callback

FRONTEND_URL=http://127.0.0.1:3000
SECRET_KEY=
GITHUB_ENCRYPTION_KEY=

AI_API_KEY=
